.clubes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.club-boton {
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
}

.club-boton:hover {
  transform: scale(1.05);
}

.club-boton h2 {
  margin: 0;
  font-size: 1.5em;
}